.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 85vh;
    gap: 30px;
    margin-top: 50px;
}


.btn {
    min-width: 120px;
    min-height: 40px;
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
    font-weight: 700;
    border: none;
    color: var(--main-txt-color);
    border-radius: 4px;
    box-shadow: var(--btn-shadow);
    background-color: var(--btn-bg-color);
    transition: background-color var(--main-animation);
}

.btn:hover,
.btn:focus {
    background-color: var(--btn-hover-bg-color);
}