.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    gap: 20px;

    margin-top: 40px;
}

.btn {
    min-width: 120px;
    min-height: 40px;
    font-family: inherit;
    font-size: 18px;
    line-height: inherit;
    font-weight: 700;
    border: none;
    color: var(--main-txt-color);
    border-radius: 4px;
    background-color: var(--btn-bg-color);
    box-shadow: var(--btn-shadow);
    transition: background-color var(--main-animation);
}

.btn:focus,
.btn:hover {
    background-color: var(--btn-hover-bg-color);
}